# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_INTERNAL_PORT=
POSTGRES_PORT=

# Mosquitto / Shelly MQTT
MQTT_HOST=
MQTT_INTERNAL_PORT=
MQTT_PORT=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_USE_TLS=
SHELLY_TOPIC=

# TTN MQTT
TTN_MQTT_HOST=
TTN_MQTT_PORT=
TTN_USERNAME=
TTN_PASSWORD=
TTN_TOPIC=

# API
API_PORT=